[submodule "neovim/.config/nvim"]
	path = neovim/.config/nvim
	url = git@github.com:uhs-robert/nvim-config.git
[submodule "hypr/.config/hypr/hyprvim"]
	path = hypr/.config/hypr/hyprvim
	url = git@github.com:uhs-robert/hyprvim.git
