[submodule "neovim/.config/nvim"]
	path = home/neovim/.config/nvim
	url = git@github.com:uhs-robert/nvim-config.git
[submodule "qutebrowser/.config/qutebrowser/deserted-everything-css"]
	path = home/qutebrowser/.config/qutebrowser/deserted-everything-css
	url = git@github.com:uhs-robert/deserted-everything-css.git
