[submodule "neovim/.config/nvim"]
	path = home/neovim/.config/nvim
	url = git@github.com:uhs-robert/nvim-config.git
[submodule "hypr/.config/hypr/hyprvim"]
	path = home/hypr/.config/hypr/hyprvim
	url = git@github.com:uhs-robert/hyprvim.git
[submodule "qutebrowser/.config/qutebrowser/solarized-everything-css"]
	path = home/qutebrowser/.config/qutebrowser/solarized-everything-css
	url = git@github.com:uhs-robert/solarized-everything-css.git
