/*****----- Configuration -----*****/
configuration {
  disable-history: true;
}

/*****----- Global Properties -----*****/
@import                          "../colors.rasi"
@import                          "../fonts.rasi"

* {
  font: "JetBrainsMono Nerd Font 11";
}

window {
  location: center;
  anchor: center;
  width: 360px;

  background-color: @bg-crust;
  border: 1px;
  border-color: @fg-muted;
  border-radius: 8px;
}

mainbox {
  padding: 16px;
  spacing: 12px;
  background-color: transparent;
  children: [ message, listview ];
}

message {
  padding: 4px;
  border: 0;
  background-color: transparent;
}

textbox {
  horizontal-align: 0.5;
  text-color: @fg-core;
  background-color: transparent;
}

listview {
  lines: 1;
  columns: 2;
  spacing: 8px;
  scrollbar: false;
  background-color: transparent;
}

element {
  padding: 8px;
  border-radius: 6px;
  background-color: @bg-mantle;
  text-color: @fg-core;
  children: [ element-text ];
}

element selected {
  background-color: @bg-surface;
  text-color: @theme-secondary;
}

element-text {
  horizontal-align: 0.5;
  background-color: transparent;
  text-color: inherit;
}
