configuration {
  show-icons: true;
  drun-display-format: "{icon} {name}";
  display-drun: "";
  sort: true;
  sorting-method: "normal";
  disable-history: true;
}

@import                          "../colors.rasi"
@import                          "../fonts.rasi"

* {
  font: "JetBrainsMono Nerd Font 11";
}

window {
  location: northwest;
  anchor: northwest;

  x-offset: 6px;
  y-offset: 0px;

  width: 390px;
  height: 720px;

  background-color: @bg-crust;
  border: 1px;
  border-color: @fg-muted;
  border-radius: 6px;
}

mainbox {
  padding: 14px;
  spacing: 10px;
  background-color: transparent;
}

inputbar {
  padding: 10px 12px;
  spacing: 8px;

  background-color: @bg-mantle;
  border-radius: 0px;

  children: [ prompt, entry ];
}

prompt {
  text-color: @theme-primary;
  background-color: transparent;
}

entry {
  text-color: @fg-core;
  background-color: transparent;
  placeholder: "Search apps...";
  placeholder-color: @fg-muted;
}

listview {
  lines: 18;
  columns: 1;
  fixed-height: false;
  spacing: 3px;
  scrollbar: false;
  background-color: transparent;
}

element {
  padding: 7px 10px;
  border-radius: 0px;
  background-color: transparent;
  text-color: @fg-core;
}

element selected {
  background-color: @bg-surface;
  text-color: @theme-secondary;
}

element-text {
  background-color: transparent;
  text-color: inherit;
}

element-icon {
  size: 22px;
  background-color: transparent;
}
