/**
 *
 * Author : Robert Hill (uhs-robert)
 * Github : @uhs-robert
 *
 * Colors - Using lua-theme generated colors
 *
 **/

/* LUA-THEME: Import generated colors */
@import "/home/USER/dotfiles/hypr/.config/hypr/lua-theme/output/rofi-theme.rasi"
