/**
 *
 * Author : Robert Hill (uhs-robert)
 * Github : @uhs-robert
 *
 * Colors - Using theme generated colors
 *
 **/

/* LUA-THEME: Import generated colors */
@import "/home/USER/dotfiles/hypr/.config/hypr/theme/output/rofi-theme.rasi"
